/*---------------------------------------------------

============RESET============

* Nombre del proyecto: Reset Joss
* Nombre del archivo: joss.css
* Descripción: reset
* Autor: Jose Montenegro

---------------------------------------------------*/

@charset "UTF-8";

/*---RESET---*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
a:hover, a:focus{
  text-decoration: none;
}
.clear {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

*{
  padding:0;
  margin:0;
  border:0;
}

a{
    display: block;
  text-decoration:none;
}


img{
  padding:0;
  margin:0;
  border:0;
}

/* Estilo fuente */

.italic, p.italic, a.italic{
  font-style: italic;
}

/*tabla*/

.cont_tabla {
  display: table;
  height: 100%;
  width: 100%;
}

.celda_tabla{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Alinear */

.centrar_inline, p.centrar_inline, a.centrar_inline{
    text-align: center;
    width: 100%;
}

.cent_cont, p.cent_cont, a.cent_cont{
    text-align: center;
}

.left{
  float: left;  
}

.right{
  float: right;
}

/* Display */

.inline, a.inline{
  display:inline-block;
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */

}

.alignmidle{
  vertical-align: middle;
}

.aligntop{
  vertical-align: middle;
}

.alignbottom{
  vertical-align: middle;
}

/* Espacios */

.esp20, .esp40, .esp60{
  margin-top:20px;
  display:inline-block;
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */
  width:100%;
}

.espacio_en_blancopequepuntos{
    border-bottom: medium dotted #7E7E7E;
    margin: 20px 0;
}


/*---Tamaños---*/

.ancho100, a.ancho100{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}


/*---Position---*/

.posrelative{
  position: relative;
}

.posabsolute{
  position: absolute;
}


/*---Columnas---*/

.col25{
  width: 25%;
}

.col48{
  width: 48%;
}

.col50{
  width: 50%;
}

.col60{
  width: 60%;
}

.col100{
  width: 100%;
}


/*---RESET---*/









