/*---------------------------------------------------
* Nombre del proyecto: Gurus
* Nombre del archivo: midbo.css
* Descripción: Hoja de estilos global
* Fecha de creación: 04 de 05 del 2014
* Autor: Jose Montenegro

============COMENTARIOS============

* Ancho: 940
* Numero de columnas: NO
* Parallax: NO
* Responsivo: NO
---------------------------------------------------*/

@charset "UTF-8";

/*@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,700);*/

body{
  background:#00778a;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  overflow: hidden;
}

.cont_loading{
  background:#00778A;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
}

.cont_logoload{
  height: auto;
  width: 200px;
}

.bg_logoload{
  background: url("../img/load/bglogo.png") no-repeat transparent;
  height: 216px;
  position: relative;
  width: 200px;
}

.cont_logoload p{
  color: #fff;
  margin-top: 15px;
}

.degradado_midbo {
  background: url("../img/degradado_midbo.png") repeat-x transparent;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
  
.animacion{
  -webkit-transition:all 0.3s ease-out;  /* Chrome y Safari */
  -o-transition:all 0.3s ease-out;  /* Opera */
  -moz-transition:all 0.3s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 0.3s ease-out;   /* Internet Explorer */
  transition:all 0.3s ease-out;  /* W3C */
}

.cont_tabla{
  display: table;
}

.celda_tabla{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


/*Header*/

.header{
  margin-left: 50%;
  left: -470px;
  position: fixed;
  top: 15px;
  width: 940px;
  z-index: 600;
}

.header_arriba{
  height: auto;
  position: relative;
  width: 100%;
}

.logo_prin{
  float: left;
}

.logocendoc{
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  bottom: 0;
  display: none;
  position: absolute;
  right: 0; 
}

.logocendoc2{
  display: block;
  opacity: 1;
  -moz-opacity: 1;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 1);
}

.nav_prin{
  background: url("../img/bg_menu.png");
  display: none;
  height: 35px;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  float: left;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

ul.lista_navprin{

}

ul.lista_navprin a{
  color: #fff;
  line-height: 15px;
  padding: 0 10px 10px;
  text-align: center;
  width: 100%;
}

li.li_navprin {
  margin: 0 10px;
  padding: 10px 0;
  position: relative;
}

ul.ulsubnivel1, ul.ulsubnivel2{
  border: thin dotted #FFFFFF;
  display: none;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 40px;
  width: 100px;
}

ul.ulsubnivel2{
  left: 98px;
  margin: 0;
  top: 0;
}

li.lisubnivel1, li.lisubnivel2{
  position: relative;
  width: 100%;
}

li.li_navprin:hover > ul, li.lisubnivel1:hover > ul{
  display: block;
}

a.btsubnivel1, a.btsubnivel2{
  background-color: #00778A;
  padding: 10px 0 !important;
}

a.bt_navprin {
  border-bottom: 2px dotted #FFFFFF;
}

a.bt_navprinactivo{
  color: #C83E25;
}

a.btsubnivel1:hover, a.btsubnivel2:hover, li.lisubnivel1 a.bt_subactivo, li.lisubnivel2 a.bt_subactivo{
  background-color: #C83E25;
  color: #fff;
}

a.opacidad{
  -webkit-transition:all 0.5s ease-out;  /* Chrome y Safari */
  -o-transition:all 0.5s ease-out;  /* Opera */
  -moz-transition:all 0.5s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 0.5s ease-out;   /* Internet Explorer */
  transition:all 0.5s ease-out;  /* W3C */
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0.8);
}

a.opacidad:hover{
  opacity: 1 !important;
  -moz-opacity: 1 !important;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 1) !important;
}

ul.lista_navprin a.bt_navprinactivo{
  color: #C83E25;
} 

.redes{
  display: none;
  height: 160px;
  margin-top: -80px;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  position: fixed;
  left: 15px;
  top: 50%;
  width: 32px;
  z-index: 600;
}

.redes a{
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0.8);
  display: block;
  float: left;
  height: 32px;
  margin-bottom: 2px;
  width: 32px;
}

a.subecontenido{
  display: none;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  top: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
  z-index: 100;
}


.contenidos p.tit, .contenidos h2.tit {
  border-bottom: 2px dotted #FFFFFF;
  color: #BEE2E1;
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.contenidos h2.tit{
  border: none;
  font-size: 20;
  font-weight: 700;
}

.controles_fotos {
  display: none;
  left: 235px;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  position: absolute;
  text-align: center;
  top: 55px;
  width: 85px;
}

.controles_fotos a{
  -webkit-transition:all 0.5s ease-out;  /* Chrome y Safari */
  -o-transition:all 0.5s ease-out;  /* Opera */
  -moz-transition:all 0.5s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 0.5s ease-out;   /* Internet Explorer */
  transition:all 0.5s ease-out;  /* W3C */
  margin: 0 2px;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0.4);
  width: 30px;
}

.controles_fotos a img{
  width: 100%;
}

.controles_fotos a.control_activo, .controles_fotos a:hover{
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0.8);
}


/*Contenidos*/

.home {
  left: 50%;
  margin-left: -348px;
  position: fixed;
  top: 95px;
  width: 800px;
}

.vertical-layout{
  background-color: #00778A;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.contenedor {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.contenidos_tabs{
  display: none;
}

.cont_contenidos{
  height: -moz-calc(100% - 250px);
  height: -webkit-calc(100% - 250px);
  height: calc(100% - 250px);
  overflow: auto;
  position: relative;
  top: 215px;
  width: 100%;
}

.contenidos {
  background: url("../img/tras_azul.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: auto;
  margin: 0 auto 50px;
  padding: 20px;
  position: relative;
  width: 940px;
}

.contenidos_form{
  width: 600px;
}

.contenidos p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
  padding: 5px 30px 5px 30px;
}

.contenidos p strong{
  font-weight: 700;
  font-size: 14px;
}

.text_contacto {
  font-size: 13px;
  margin: 0 auto 50px;
  position: relative;
  text-align: center;
  top: -35px;
  width: 940px;
}

.cont_galeria{
  position: relative;
}

.afiche{
  margin: 0 12px 24px;
  width: 200px;
}

.afiche img{

}

/*Ajustes*/

.p1 i {
    color: #BEE2E1;
    font-size: 1.3em;
    font-weight: 700;
}


p a, p a:hover {
    display: inline-block;
    text-decoration: underline;
}


/*Formularios*/

form input[type="text"], form textarea {
    background: none repeat scroll 0 0 #bad7dc;
    color: #004854;
    height: 30px;
    width: 100%;
}

.form-horizontal .controls {
    margin-left: 140px;
}

.form-horizontal .control-label{
  padding: 0;
  text-align: left;
  width: 115px;
}

button.btn, input.btn[type="button"], button.btn:hover, button.btn:focus {
    background-color: #C83E25;
    background-image: none;
    border: thin dotted #FFFFFF;
    border-radius: 0;
    color: #FFFFFF;
    float: right;
    padding: 5px 10px;
}

.controls textarea{
    height: 150px;
}

fieldset{
  margin-bottom: 20px;
}

.control-groupradios {
  float: left;
  margin-bottom: 20px;
  margin-left: 119px;
}

.control-groupradios  input[type="radio"]{
  margin: 0;
  padding: 0;
}

/*Footer*/

.footer {
  bottom: 0;
  color: #fff;
  height: 35px;
  position: fixed;
  width: 100%;
  z-index: 800;
}

.footer2{
  margin-left:2%;
  margin-top: 10px;
  width: 96%;
}

.derechos {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-top: 3px;
}

.derechos a{
  display: inline;
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

.derechos a:hover{
  color: #C83E25;
}

.derechos span {
    font-weight: bold;
}

.footer-autor {
    float: right;
    margin-top: 0;
}

.footer-autor p, .footer-autor img, .footer-autor a{
  display:inline-block;
  font-size: 12px;
  margin: 0;
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */
  vertical-align: middle;
}

.footer-autor a {
    font-weight: 900;
    line-height: 11px;
}

.footer-autor a:hover{
  color: #f16529;
}


/*Ajustes*/

#secaliados .contenidos{
  background: #fff;
}

#secaliados .contenidos p{
  color: #00778a;
}

.bg_colibri{
  background: url("../img/bg_colibries.png") no-repeat fixed top center transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10
}



/*Noticias*/



.contenidosvacio {
  /*background: url("../img/bg_negro.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  height: auto;
  margin: 0 auto 50px;
  padding: 20px;
  position: relative;
  width: 940px;
  background-color: rgba(204, 204, 204, 0.27);
}

.contenidosvacio{
  background: transparent;
  padding: 0;
}


.modulo {
  background: url("../img/bg_negro.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 220px;
  margin: 7px;
  position: relative;
  width: 220px;
}

.modulo img{
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.modulo p{
  margin-bottom: 15px;
}

.modulo h2.tit_imagen {
  -webkit-transition:all 0.5s ease-out;  /* Chrome y Safari */
  -o-transition:all 0.5s ease-out;  /* Opera */
  -moz-transition:all 0.5s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 0.5s ease-out;   /* Internet Explorer */
  transition:all 0.5s ease-out;  /* W3C */
  background: url("../img/bg_negro.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  color: #FFFFFF;
  font-size: 18px;
  height: 50px;
  left: 0;
  line-height: 20px;
  padding: 5px;
  position: absolute;
  width: 100%;
}

a.ver_masmodulo, a.ver_masmodulovideo{
  -webkit-transition:all 0.5s ease-out;  /* Chrome y Safari */
  -o-transition:all 0.5s ease-out;  /* Opera */
  -moz-transition:all 0.5s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 0.5s ease-out;   /* Internet Explorer */
  transition:all 0.5s ease-out;  /* W3C */
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
  background: url("../img/bg_naranja.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  left: 0;
  position: absolute;
  text-align:center;
  top: 0;
  width: 100%;
}

a.ver_masmodulovideo{
  opacity: 1;
  -moz-opacity: 1;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 1);
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
}

.modulo a img{
  height: 64px;
  position: relative;
  width: 64px;
}

.modulo a p{
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.modulo:hover h2.tit_imagen{
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 0);
}

.modulo_texto{
  padding: 15px;
}

h2.tit_texto {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0;
}

h2.tit_modal {
  color: #C83E25;
  font-size: 24px;
  font-weight: 700;
}

h3.fecha {
  color: #999999;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 15px;
}

.modulo:hover a.ver_masmodulo{
  opacity: 1;
  -moz-opacity: 1;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity= 1);
}

.modulo_video:hover .ver_masmodulovideo{
  height: 100%;
}

.detalle_noticia{
  display: none;
  padding: 20px;
  width: 940px;
}

.fancybox-skin{
  background: #fff;
}

.detalle_noticia img {
  float: left;
  margin: 0 10px 10px 0;
}


.cont_buscador{
  float: right;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 16px;
  position: relative;
  width: 300px;
}

.cont_buscador form input[type="text"]{
  width: 100%;
}

button.bt_buscar[type="button"]{
  background-image: url("../img/iconos/buscar.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  height: 30px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
}